@model Laboratory.Models.Requests
@{
    ViewData["Title"] = "LabAdminPage";
}

<div class="row bg-light">
    <div class="row mt-3">
        <div class="col-2">
            <select class="form-select float-start">
                <option>Language</option>
                <option value="1">English </option>
                <option value="2">Arabic </option>
            </select>
            <div class="col-2">
                <div class="form-group">
                    <button type="button" class="btn btn-info text-light">
                        System Config
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row bg-info my-3 mx-2 rounded ">
        <h5 class=" text-light text-center">Request List</h5>
    </div>
    <form asp-action="LabAdmin">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row border border-1 rounded">
            <div class="col">
                <div class="form-group">
                    <label asp-for="College" class="control-label">College</label>
                    <select asp-for="College" class="form-select">
                        <option>Select</option>
                        <option value="1">الطب البشري ( المقر الرئيسي)</option>
                        <option value="2">الطب والعلوم الطبية (القطاع الجنوبي)</option>
                        <option value="3">طب الأسنان (القطاع الغربي)</option>
                        <option value="4">طب الأسنان (القطاع الرئيسي)</option>
                        <option value="5">الصيدلة ( المقر الرئيسي)</option>
                        <option value="6">الصيدلة (القطاع الجنوبي)</option>
                        <option value="7">العلوم الطبية التطبيقية</option>
                        <option value="8">البصريات</option>
                        <option value="9">التمريض</option>
                        <option value="10">التأهيل الطبي</option>
                        <option value="11">العلوم الصحية</option>
                        <option value="12">الصحة العامة والمعلوماتية</option>
                        <option value="13">كلية الزراعة</option>
                    </select>
                    <span asp-validation-for="College" class="text-danger"></span>

                </div>
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="College Name Search">
            </div>
            <div class="col-auto my-4">
                <button type="button" class="btn btn-info text-light float-end">Extract</button>
            </div>
            <div class="col-auto my-4">
                <b class="text-danger">Extract all or as per search results</b>
            </div>

            <div class="col">
                <div class="form-group">
                    <label asp-for="NationalResidenceId" class="control-label"></label>
                    <input asp-for="NationalResidenceId" class="form-control" />
                    <span asp-validation-for="NationalResidenceId" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="UniversityNumber" class="control-label"></label>
                    <input asp-for="UniversityNumber" class="form-control" />
                    <span asp-validation-for="UniversityNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="StudentStatus" class="control-label">Student Status</label>
                    <select asp-for="StudentStatus" class="form-select">
                        <option>Select</option>
                        <option value="1">New Student</option>
                        <option value="2">Intern</option>
                    </select>
                    <span asp-validation-for="StudentStatus" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="FirstNameEnglish" class="control-label"></label>
                    <input asp-for="FirstNameEnglish" class="form-control" placeholder="Name" />
                    <span asp-validation-for="FirstNameEnglish" class="text-danger"></span>
                </div>
            </div>


            <div class="col">
                <div class="form-group">
                    <label asp-for="FirstNameArabic" class="control-label"></label>
                    <input asp-for="FirstNameArabic" class="form-control" placeholder="Name" />
                    <span asp-validation-for="FirstNameArabic" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="TestDate" class="control-label"></label>
                    <input asp-for="TestDate" class="form-control" />
                    <span asp-validation-for="TestDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <button type="button" class="btn btn-info text-light">
                        Details
                    </button>
                </div>
            </div>
        </div>

    </form>


</div>
