@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
       Learn about
        <a asp-action="index" asp-controller="Requests" class="btn btn-info text-light">index for lab requst</a>
       
        <a asp-action="Create" asp-controller="Requests" class="btn btn-info text-light">create lab requst for student</a>
       
           </p>
    <p>
        <a asp-action="Edit" asp-controller="Managements">edit limitationDays</a>
    </p>
</div>
